body{
    margin: 0;
    background-color:white;margin:0px;
    overflow-x: hidden;
}
#page1{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color: #eeeeee
}
.page2{
    position: absolute;
    top:100vh;
    width:100vw;
    height: 100vh;
    background-color: white;
}
.page3{
    position: absolute;
    top:200vh;
    width:100vw;
    height: 120vh;
    background-color: #eeeeee
}
.page4{
    position: absolute;
    top:300vh;
    width:100vw;
    height: 100vh;
}
.page5{
    position: absolute;
    top:400vh;
    width:100vw;
    height: 100vh;
}
.page6{
    position: absolute;
    top:500vh;
    width:100vw;
    height: 100vh;
}
.hide{
    display: none
  }
  .show{
    display: block;
    font-family: 'Poiret One', cursive;
  }
  #heading{
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    /* position: absolute; */
    left: 3vmax;
    top: 10vmax;
    font-size: 3vmax;
  }