  
.move-container-loader{
  position: absolute;
  top: 45%;
  left: 15%;
  z-index: 3
}
.loader {
  /* padding-top: 40%; */
  width: 128px;
  height: 128px;
  border-radius: 50%;
  perspective: 800px;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1.0s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7 ;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1.0s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7 ;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1.0s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7 ;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}