   .social-animation{
    opacity: 0;
    animation: socialAnimation 1s forwards
    }
    @keyframes socialAnimation{
        to{
            opacity: 1;
        }
   }
   a, a:visited, a:hover, a:active {
    text-decoration : none;
    color: inherit;
  }
  .social{
    z-index: 2;
    position: fixed;
    top: 90%;
    right: 2%;
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
  }
  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }
  .social-icon:active {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  .social-icon--linkedin {
    background: #006599;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#006599, 5%)), to(shade(#006599, 5%)));
    background: linear-gradient(tint(#006599, 5%), shade(#006599, 5%));
    border-bottom: 1px solid shade(#006599, 20%);
    color: tint(#006599, 50%);
  }
  .social-icon--linkedin:hover {
    color: tint(#006599, 80%);
    text-shadow: 0px 1px 0px shade(#006599, 20%);
  }
  .social-icon--linkedin .tooltip {
    background: #006599;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#006599, 15%)), to(#006599));
    background: linear-gradient(tint(#006599, 15%), #006599);
    color: tint(#006599, 80%);
  }
  .social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
  }
  .social-icon--twitter {
    background: #2b97f1;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#2b97f1, 5%)), to(shade(#2b97f1, 5%)));
    background: linear-gradient(tint(#2b97f1, 5%), shade(#2b97f1, 5%));
    border-bottom: 1px solid shade(#2b97f1, 20%);
    color: tint(#2b97f1, 50%);
  }
  .social-icon--twitter:hover {
    color: tint(#2b97f1, 80%);
    text-shadow: 0px 1px 0px shade(#2b97f1, 20%);
  }
  .social-icon--twitter .tooltip {
    background: #2b97f1;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#2b97f1, 15%)), to(#2b97f1));
    background: linear-gradient(tint(#2b97f1, 15%), #2b97f1);
    color: tint(#2b97f1, 80%);
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #2b97f1;
  }
  /* .social-icon--codepen {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#000, 5%)), to(shade(#000, 5%)));
    background: linear-gradient(tint(#000, 5%), shade(#000, 5%));
    border-bottom: 1px solid shade(#000, 20%);
    color: tint(#000, 50%);
  }
  .social-icon--codepen:hover {
    color: tint(#000, 80%);
    text-shadow: 0px 1px 0px shade(#000, 20%);
  }
  .social-icon--codepen .tooltip {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#000, 15%)), to(#000));
    background: linear-gradient(tint(#000, 15%), #000);
    color: tint(#000, 80%);
  }
  .social-icon--codepen .tooltip:after {
    border-top-color: #000;
  } */
  .social-icon--github {
    background: #4284c0;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#4284c0, 5%)), to(shade(#4284c0, 5%)));
    background: linear-gradient(tint(#4284c0, 5%), shade(#4284c0, 5%));
    border-bottom: 1px solid shade(#4284c0, 20%);
    color: tint(#4284c0, 50%);
  }
  .social-icon--github:hover {
    color: tint(#4284c0, 80%);
    text-shadow: 0px 1px 0px shade(#4284c0, 20%);
  }
  .social-icon--github .tooltip {
    background: #4284c0;
    background: -webkit-gradient(linear, left top, left bottom, from(tint(#4284c0, 15%)), to(#4284c0));
    background: linear-gradient(tint(#4284c0, 15%), #4284c0);
    color: tint(#4284c0, 80%);
  }
  .social-icon--github .tooltip:after {
    border-top-color: #4284c0;
  }
  .social-icon i {
    position: relative;
    top: 1px;
  }
  
  /* Tooltips */
  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }